body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
    padding: 0;
}

button {
    padding: 8px 24px;
    border: none;
    border-radius: 4px;
    color: #f9faf8;
    background-color: #3882f6;
    font-weight: 900;
}

/* Colours */

.dark-blue {
    background-color: #1f2937;
}

.blue {
    background-color: #3882f6;
}

.grey {
    background-color: #e5e7eb;
}

/* Header */

.header {
    display: flex;
    justify-content: center;
    margin: 0;
}

.nav {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left {
    flex: 0 0 auto;
}

.nav-right {
    flex: 0 0 auto;
}

.nav-right ul {
    display: flex;
    gap: 16px;
}

.nav-right li {
    flex: 0 0 auto;
}

/* Body */

.section {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 32px;
}

.hero {
    width: 1200px;
    display: flex;
    gap: 80px;
    /* justify-content: space-between; */
    align-items: center;
}

.hero-main {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.subtext {
    font-size: 18px;
    color: #e5e7eb;
    font-weight: 100;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
}

.header li {
    font-size: 18px;
    color: #e5e7eb;
    font-weight: 100;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-header {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.card-item {
    width: 160px;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
}

.card-item img {
    border: 3px solid #3882f6;
    border-radius: 16px;
}

.card-item p {
    font-size: 18px;
    color: #1f2937;
    font-weight: 100;
    text-align: center;
}

.pull-quote {
    width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.quote {
    font-size: 36px;
    color: #1f2937;
    font-weight: 100;
    font-style: italic;
}

.caption {
    margin-left: auto;
    font-size: 18px;
    font-weight: 700;
}