/*  Josh's Custom CSS Reset  https://www.joshwcomeau.com/css/custom-css-reset/*/
*, *::before, *::after {
    box-sizing: border-box;}
* {
    margin: 0;}
body {
    line-height: 1.5;  -webkit-font-smoothing: antialiased;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";}
img, picture, video, canvas, svg {
    display: block;  max-width: 100%;}
input, button, textarea, select {
    font: inherit;}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;}
p {
    text-wrap: pretty;}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;}
#root, #__next {
    isolation: isolate;}

#nav {

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
}

#nav button {
    margin-top: 8px;
    padding: 0 1rem;
    height: 3rem;
    border: none;
    border-radius: 8px 8px 0px 0px;
    font-size: 24px;
    font-weight: 500;
    color: orange;
    background-color: white;
}

#content {
    margin: 0;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#diceGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

#diceGrid button {
    aspect-ratio: 1 / 1;
    border: 2px solid whitesmoke;
    border-radius: 8px;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out, border-color 0.2s ease-in-out;
}

#diceGrid button:hover {
    border: 2px solid orange;
    transition: background-color 0.5s ease-in-out, border-color 0 ease-in-out;
}

#diceGrid button:active {
    background-color: orange;
    transition: none;
}

#diceGrid button > p:last-child {
    font-weight: 700;;
}